//base
@import 'base/vars';
@import 'base/reset';
@import 'base/utilidades';

//components
@import 'components/navbar';
@import 'components/footer';

//layouts
@import 'layouts/index';
@import 'layouts/sobrenosotros';
@import 'layouts/servicios';
@import 'layouts/preciosypromociones';
@import 'layouts/faqsycontacto';

