/*Faqs y Contacto*/

.acordeon-faqs {
    @include flex(row, center, space-between, 0px);
    padding: 20px;
    padding-bottom: 50px;

    h1 {
        font-weight: bold;
        text-align: center;
    }

    article {
        width: 70%;

        @media(max-width:750px) {
            width: 100%;
        }

    }

    @media(max-width:750px) {
        display: flex;
        flex-direction: column;

    }
}




.accordion-button:not(.collapsed) {
    background-color: #efd3d7;
    font-size: 20px;
    color: #000
}

.accordion-button {
    background-color: #f1e7e9;
    font-size: 25px
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    background-color: #f5e0e3;

}

.acordeon-inicio {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 950px) {
        width: 100%;
    }
}

.acordeon-inicio img {
    @include img(40%, 40%, cover);

    @media(max-width:750px) {
        width: 0;
    }
}

/*Contacto*/

.contacto-total {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-top: 50px;
    border-top: #000 solid 1px;
    flex-wrap: wrap;

    @media (max-width: 950px) {
        @include flex(column, center, center, 0px);
        margin: auto;
    }

    img {
        width: 30px;
        height: auto;
        object-fit: contain;
    }

}

.contacto-titulo {
    width: 50%;
    @include flex(column, center, center, 20px);
    padding: 20px;
    text-align: center;

    @media (max-width: 950px) {
        width: 100%;
    }

    p {
        text-align: center;
    }
}

.informacion {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        padding: 2px;
        gap: 15px;
        align-items: center;
    }
}

.contacto {
    width: 35%;

    @media (max-width: 950px) {
        width: 100%;
    }


    .titulo-formulario {
        @include flex(column, center, center, 8px);
        background-color: #efd3d7;
        justify-content: center;
        border: #000 solid 1px;
        padding: 15px;
    }

    input {
        background-color: #f1e7e9;
        border-color: transparent;
        width: 80%;
        padding: 10px;
        border-radius: 10px;
    }

    textarea {
        background-color: #f1e7e9;
        width: 80%;
        max-height: 150px;
        padding : 10px;
        border-radius: 10px;
    }
}

.boton {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 20px;
    

    button {
        @include flex(row, center, center, 0px);
        width: 100%;
        height: 40px;
        background-color: $color-1;
        border-radius: 10px;
    }
}