/*Precios & Promociones*/

.titulo-precios {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    text-decoration: underline;
    font-variant: small-caps;
}


.box-precios {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 25px;

    @media(max-width:800px) {
        padding: 20px;
    }

    article {
        display: flex;
        border-radius: 20px;
        border: 3px solid $color-borde-caja;

        @media(max-width:800px) {
            flex-direction: column;
            width: 100%;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
    }

    h2 {
        font-size: 1.4rem;
        text-decoration: underline;
        color: $color-titulo-boton;
        font-weight: 600;
        padding-top: 20px;
        text-align: center;
        text-decoration-color: $color-borde-caja;
    }

    p {
        font-weight: bold;
    }

    ul {
        padding-left: 50px;
    }

    a {
        padding: 15px;
        background-color: $color-titulo-boton;
        border-radius: 30px;
        border: 3px solid $color-borde-caja;
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
    }

    img {
        width: 30%;
        object-fit: cover;
        padding: 20px;
        border-radius: 50px;

        @media (max-width:800px) {
            width: auto;
            height: auto;
        }

    }
}