/*Sobre Nosotros*/

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    grid-template-areas:
        "caja1 caja2"
        "caja4 caja2"
        "caja4 caja3"
        "caja5 caja5";

    img {
        @include img (100%, 600px, cover);
    }

    article {
        @include flex(column, center, center, 0px);
        padding: 20px;
        text-align: center;
    }

    a {
        height: auto;
        color: #000000d7;
        text-decoration: none;
        background-color: #b2dbe7;
        padding: 10px;
        border-radius: 30px;
        border: 3px solid #ebc3c9;
    }

    @media(max-width:680px) {
        display: flex;
        flex-direction: column;
    }

    .box1 {
        grid-area: caja1;
        background-color: $color-2;

    }

    .box2 {
        grid-area: caja2;
    }

    .box3 {
        grid-area: caja3;
        background-color: $color-3;

    }

    .box4 {
        grid-area: caja4;
    }

    .box5 {
        grid-area: caja5;
        padding: 50px;
        background-image: url(../imagenes/corazon2.jpg);
        background-position: center;


        p {
            background-color: rgba(255, 255, 255, 0.562);
        }
    }
}